.navbar {
  display: flex;
  justify-content: flex-end;
  height: 3.5rem;
  background-color: $primary;

  .navbar-brand {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $white;
    text-decoration: none;
    width: 10rem;
  }

  .navbar-toggler {
    border: none;
    background: none;
    line-height: 1.5rem;
    color: $white;
    cursor: pointer;

    i.fas {
      margin: 0;
      font-size: 0.8rem;
    }
  }

  .navbar-avatar {
    display: flex;
    text-decoration: none;

    img {
      height: 2rem;
      width: 2rem;
      margin: -0.25rem 1rem -0.25rem 0;
      border-radius: 50%;
    }
  }

  .navbar-divider {
    display: block;
    width: 100%;
    margin: 0.25rem 0;
    border-bottom: 1px solid $gray-300;

    &:last-child {
      display: none;
    }
  }

  i {
    width: 1.25rem;
    margin-right: 0.5rem;
    text-align: center;
  }

  ul.nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;
    font-weight: 600;
    list-style: none;

    .nav-item {
      padding: 0 1rem;
      color: $white;

      .nav-link {
        padding: 0;
        color: $white;
      }

      .dropdown-menu {
        min-width: 12rem;
        margin-top: 1rem;
        border-radius: 0;

        .dropdown-item {
          color: $primary;
        }
      }
    }
  }
}

footer {
  .scrollup {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 3.25rem;
    width: 3.25rem;
    outline: 0;
    z-index: $zindex-fixed;

    i {
      height: 1.25rem;
      width: 1.25rem;
      margin: 1rem;
      font-size: 1.25rem;
      text-align: center;
      cursor: pointer;
    }
  }
}
