.hidden-xs {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.btn.btn-circle.btn-sm.btn-danger {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  padding: 0.1rem;
  font-size: 0.8rem;

  i {
    width: 1rem;
    text-align: center;
  }
}
